@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-twitter:before {
  content: "\e901";
}

._icon-crown-elegant:before {
  content: "\e903";
}

._icon-crown-royal:before {
  content: "\e904";
}

._icon-crown-triangles:before {
  content: "\e905";
}

._icon-house:before {
  content: "\e906";
}

._icon-quote:before {
  content: "\e90c";
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-youtube:before {
  content: "\ea9d";
}

._icon-linkedin:before {
  content: "\eaca";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
  color-scheme: light dark;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: light-dark(#fbf6f8, #1d1d1d);
  color: light-dark(#232323, #ffffff);
}
body:has(.menu-burger.active) {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 85.3125rem;
  padding-inline: 1.625rem;
  margin: 0 auto;
}

.button {
  background-color: #c75e90;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 13.75rem;
  padding-inline: 3rem;
  padding-block: 0.875rem;
  text-align: center;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.button--icon {
  position: relative;
}
.button--icon::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 1.3125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  -webkit-mask: url("../images/svg-icons/arrow-side.svg") center/contain no-repeat;
          mask: url("../images/svg-icons/arrow-side.svg") center/contain no-repeat;
}
.button--dark {
  background-color: #8e345f;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #8e345f;
  }
  .button--dark:hover {
    background-color: #c75e90;
  }
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.75rem;
}
.title-block__subtitle {
  font-size: 0.75rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #696969;
}
@media (max-width: 47.99875em) {
  .title-block__subtitle {
    font-size: 0.625rem;
  }
}
.title-block__title {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .title-block__title {
    font-size: 2.25rem;
  }
}
.video-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.video-preview__title-block.title-block {
  row-gap: 0;
}
.video-preview__title-block.title-block .title-block__subtitle {
  color: #ffffff;
}
.video-preview__title-block.title-block .title-block__title {
  font-size: 1rem;
}
.video-preview__button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background: url("../images/svg-icons/play.svg") center 50% no-repeat, #c75e90;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .video-preview__button:hover {
    background-color: #8e345f;
  }
}
@media (max-width: 29.99875em) {
  .video-preview__button {
    width: 2.6875rem;
    height: 2.6875rem;
  }
}
.video-preview__video {
  position: fixed;
  display: none;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
.contacts__icon-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #c75e90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__icon {
  width: 55%;
}
.contacts__content {
  -webkit-padding-before: 0.625rem;
          padding-block-start: 0.625rem;
}
.contacts__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}
.contacts__item-title:not(:last-child) {
  margin-bottom: 1.3125rem;
}
.contacts__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .contacts__link:hover {
    color: #c75e90;
  }
}
@media (max-width: 47.99875em) {
  .contacts__link {
    max-width: 100%;
  }
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
  background: light-dark(rgba(246, 221, 233, 0.5), #161616);
}
@media (max-width: 61.99875em) {
  .header {
    -webkit-padding-before: 2.125rem;
            padding-block-start: 2.125rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.menu-burger .actions {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 11.75rem;
  aspect-ratio: 188/73;
}
@media (max-width: 61.99875em) {
  .logo {
    width: 11.125rem;
    aspect-ratio: 178/69;
  }
}
.logo__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 188/73;
}
.logo svg .logo-letter {
  fill: light-dark(#232323, #ffffff);
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-burger .navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
}
.menu-burger .navigation::-webkit-scrollbar {
  background-color: rgba(142, 52, 95, 0.2);
  border-radius: 0.625rem;
  width: 0.5rem;
}
.menu-burger .navigation::-webkit-scrollbar-thumb {
  background: #8e345f;
  border-radius: 0.625rem;
}
.navigation__list {
  margin-left: 6.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem 3.75rem;
}
@media (max-width: 71.875em) {
  .navigation__list {
    margin-left: 0;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
.menu-burger .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 4.875rem;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding-inline: 2.75rem;
}
.navigation__link {
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #8e345f;
  }
}

.theme-form__lable {
  width: 6.8125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
  background-color: #ffffff;
  border-radius: 13.75rem;
  padding-inline: 1.125rem;
  padding-block: 0.6875rem;
}
.theme-form__lable::before {
  content: "";
  width: 55.05%; /* 60/109 */
  height: 101%;
  border-radius: 2.5rem;
  position: absolute;
  left: -1px;
  top: 0;
  background-color: #c75e90;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.theme-form__lable:has(> .theme-form__input:checked)::before {
  -webkit-transform: translateX(84.5%);
      -ms-transform: translateX(84.5%);
          transform: translateX(84.5%);
}
.theme-form__lable:has(> .theme-form__input:checked) .theme-form__icon.theme-form__icon--day {
  background-color: #fbf6f8;
}
.theme-form__lable:has(> .theme-form__input:checked) .theme-form__icon.theme-form__icon--night {
  background-color: #1d1d1d;
}
.menu-burger .theme-form__lable::before {
  background-color: #8e345f;
}
.theme-form__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.theme-form__icon--night {
  background-color: #fbf6f8;
  -webkit-mask: url("../images/svg-icons/moon.svg") center/contain no-repeat;
          mask: url("../images/svg-icons/moon.svg") center/contain no-repeat;
}
.theme-form__icon--day {
  background-color: #1d1d1d;
  -webkit-mask: url("../images/svg-icons/sun.svg") center/contain no-repeat;
          mask: url("../images/svg-icons/sun.svg") center/contain no-repeat;
}
.theme-form__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
@media (any-hover: hover) {
  .theme-form:hover label::before {
    background-color: #8e345f;
  }
}

.burger-btn-close {
  display: none;
  width: 3.3125rem;
  height: 3.3125rem;
  position: relative;
}
.burger-btn-close::after, .burger-btn-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.25rem;
  background-color: #fbf6f8;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.burger-btn-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.burger-btn-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-burger .burger-btn-close {
  display: block;
}

.burger-btn {
  display: none;
  width: 3.1875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
.burger-btn::before, .burger-btn::after {
  content: "";
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #c75e90;
}
@media (max-width: 61.99875em) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-burger {
  height: 100svh;
  max-width: 100%;
  border-end-start-radius: 3.75rem;
  border-start-start-radius: 3.75rem;
  padding-inline: 2rem;
  -webkit-padding-before: 2.0625rem;
          padding-block-start: 2.0625rem;
  -webkit-padding-after: 5.5rem;
          padding-block-end: 5.5rem;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6.5625rem;
  background-color: #c75e90;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.menu-burger.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 61.99875em) {
  .menu-burger {
    width: 25.375rem;
  }
}
.menu-burger .button {
  background-color: #8e345f;
  padding-block: 1.25rem;
  font-size: 1rem;
}
.menu-burger .theme-form__lable {
  width: 9.8125rem;
}
.menu-burger .theme-form__lable .theme-form__icon {
  width: 2.75rem;
  height: 2.75rem;
}

.hero {
  border-end-start-radius: 3.75rem;
  border-end-end-radius: 3.75rem;
  -webkit-padding-before: 3.125rem;
          padding-block-start: 3.125rem;
  background: light-dark(rgba(246, 221, 233, 0.5), #161616);
}
.hero__container {
  -webkit-padding-before: 3.125rem;
          padding-block-start: 3.125rem;
  -webkit-padding-after: 6.875rem;
          padding-block-end: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .hero__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
.hero__body {
  max-width: 33.0625rem;
  -webkit-padding-before: 0.875rem;
          padding-block-start: 0.875rem;
}
@media (max-width: 61.99875em) {
  .hero__body {
    max-width: 100%;
  }
}
.hero__title-block:not(:last-child) {
  margin-bottom: 5rem;
}
.hero__title-block .title-block__text:not(:last-child) {
  margin-bottom: 0.75rem;
}
.hero__title-block .button {
  padding-inline: 2.625rem;
}
@media (max-width: 47.99875em) {
  .hero__title-block .button {
    width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .hero__title-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-block .title-block__text {
    max-width: 37.5rem;
  }
}
@media (min-width: 47.99875em) {
  .hero__title-block .title-block__subtitle {
    font-size: 0.875rem;
    letter-spacing: 0.315rem;
  }
  .hero__title-block .title-block__title {
    font-size: 2.875rem;
  }
}
.hero__video-wrapper {
  width: 21.0625rem;
  height: 7rem;
  border-radius: 1.25rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 41, 41, 0.41)), to(rgba(41, 41, 41, 0.41))), url("../images/hero/video-preview.jpg") center/cover no-repeat, #d9d9d9;
  background: linear-gradient(0deg, rgba(41, 41, 41, 0.41) 0%, rgba(41, 41, 41, 0.41) 100%), url("../images/hero/video-preview.jpg") center/cover no-repeat, #d9d9d9;
  padding-inline: 1.25rem;
  padding-block: 1.4375rem;
}
@media (max-width: 61.99875em) {
  .hero__video-wrapper {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 29.99875em) {
  .hero__video-wrapper {
    width: 100%;
  }
}
.hero__image-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 41.9375rem;
  min-width: 31.25rem;
  height: 44.8125rem;
  -webkit-padding-before: 4.0625rem;
          padding-block-start: 4.0625rem;
  -webkit-padding-after: 5.9375rem;
          padding-block-end: 5.9375rem;
  -webkit-padding-start: 4.8125rem;
          padding-inline-start: 4.8125rem;
  -webkit-padding-end: 1.8125rem;
          padding-inline-end: 1.8125rem;
  position: relative;
}
.hero__image-block::before, .hero__image-block::after {
  content: "";
  position: absolute;
  width: 18rem;
  height: 18rem;
  background: url("../images/svg-icons/decor.svg") center/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .hero__image-block::before, .hero__image-block::after {
    width: 11.8125rem;
    height: 11.8125rem;
  }
}
.hero__image-block::before {
  left: 0;
  top: 0;
  -webkit-transform: rotate(-94.589deg);
      -ms-transform: rotate(-94.589deg);
          transform: rotate(-94.589deg);
}
.hero__image-block::after {
  right: 0;
  bottom: 0;
}
@media (min-width: 61.99875em) {
  .hero__image-block {
    -webkit-transform: translateX(1.8125rem);
        -ms-transform: translateX(1.8125rem);
            transform: translateX(1.8125rem);
  }
}
@media (max-width: 47.99875em) {
  .hero__image-block {
    width: 26.875rem;
    min-width: 20rem;
    height: auto;
    aspect-ratio: 430/470;
    -webkit-padding-before: 2.6875rem;
            padding-block-start: 2.6875rem;
    -webkit-padding-after: 3.8125rem;
            padding-block-end: 3.8125rem;
    -webkit-padding-start: 2.1875rem;
            padding-inline-start: 2.1875rem;
    -webkit-padding-end: 1.25rem;
            padding-inline-end: 1.25rem;
  }
}
.hero__image-wrapper {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  width: toPecent(566, 671);
  height: 100%;
}
@media (max-width: 47.99875em) {
  .hero__image-wrapper {
    width: toPecent(371, 430);
    height: 22.8125rem;
  }
}
.hero__image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 566/557;
  border-radius: 6.25rem 6.25rem 3.75rem 6.25rem;
}
@media (max-width: 47.99875em) {
  .hero__image {
    aspect-ratio: 371/365;
    border-radius: 6.25rem 3.75rem 3.75rem 16.25rem;
  }
}
.hero__border-image {
  position: absolute;
  z-index: 3;
  width: 7.4375rem;
  height: 7.4375rem;
  border-radius: 50%;
  border: 0.375rem solid #c75e90;
}
.hero__border-image:nth-child(2) {
  left: 0;
  top: 6.25rem;
  left: -3.75rem;
}
.hero__border-image:nth-child(3) {
  top: 19.25rem;
  left: -3.75rem;
}
.hero__border-image:nth-child(4) {
  left: 1.75rem;
  bottom: -3.75rem;
}
.hero__border-image:nth-child(5) {
  left: 16rem;
  bottom: -3.75rem;
}
@media (max-width: 47.99875em) {
  .hero__border-image {
    width: 4.125rem;
    height: 4.125rem;
    border-width: 0.1875rem;
  }
  .hero__border-image:nth-child(2) {
    top: 3.125rem;
    left: -0.9375rem;
  }
  .hero__border-image:nth-child(3) {
    top: 10.625rem;
    left: -0.8125rem;
  }
  .hero__border-image:nth-child(4) {
    left: 3.125rem;
    bottom: 1.375rem;
  }
  .hero__border-image:nth-child(5) {
    left: 10.6875rem;
    bottom: -2rem;
  }
}

@media (min-width: 61.99875em) {
  .contacts-block {
    margin-top: -5.125rem;
  }
}
.contacts-block__container {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  min-height: 10.5rem;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}
@media (max-width: 61.99875em) {
  .contacts-block__container {
    padding-block: 2.25rem;
  }
}
.contacts-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2.875rem;
  border-radius: 2.5rem;
  background-color: light-dark(#232323, #c75e90);
}
@media (max-width: 61.99875em) {
  .contacts-block__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-padding-before: 1.875rem;
            padding-block-start: 1.875rem;
  }
}
@media (max-width: 26.75em) {
  .contacts-block__body {
    row-gap: 1.875rem;
  }
}
.contacts-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -webkit-padding-start: 2.1875rem;
          padding-inline-start: 2.1875rem;
  -webkit-padding-end: 1.25rem;
          padding-inline-end: 1.25rem;
}
.contacts-block__item--start:only-child {
  -webkit-padding-before: 2.6875rem;
          padding-block-start: 2.6875rem;
  -webkit-padding-after: 2.9375rem;
          padding-block-end: 2.9375rem;
}
.contacts-block__item-wrapper .contacts-block__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 26.75em) {
  .contacts-block__item-wrapper .contacts-block__item {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media (max-width: 61.99875em) and (min-width: 26.75em) {
  .contacts-block__item {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
}
@media (max-width: 26.75em) {
  .contacts-block__item {
    padding-inline: 0.9375rem;
    font-size: 1rem;
  }
}
.contacts-block__icon-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: light-dark(#c75e90, #8e345f);
}
.contacts-block__item-wrapper .contacts-block__icon-wrapper {
  background-color: light-dark(#232323, #c75e90);
}
@media (max-width: 26.75em) {
  .contacts-block__icon-wrapper {
    width: 3.125rem;
    height: 3.125rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.contacts-block__item-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 62.6047220107%;
      flex-basis: 62.6047220107%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
  row-gap: 2.75rem;
  border-radius: 6.25rem 2.5rem 2.5rem 6.25rem;
  background-color: light-dark(#c75e90, #8e345f);
  -webkit-padding-before: 2.6875rem;
          padding-block-start: 2.6875rem;
  -webkit-padding-after: 2.9375rem;
          padding-block-end: 2.9375rem;
}
@media (max-width: 61.99875em) {
  .contacts-block__item-wrapper {
    border-radius: 4.375rem 4.375rem 2.5rem 2.5rem;
  }
}

.about__container {
  padding-block: 2.125rem;
  border-radius: 2.5rem;
  background-color: light-dark(#ffffff, #161616);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem 1.25rem;
}
@media (max-width: 61.99875em) {
  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about__content {
  -webkit-padding-start: 3.625rem;
          padding-inline-start: 3.625rem;
}
@media (max-width: 61.99875em) {
  .about__content {
    padding-inline: 0;
  }
}
.about__title-block {
  row-gap: 1.0625rem;
}
.about__title-block .title-block__title:not(:last-child) {
  margin-bottom: 0.875rem;
}
.about__title-block .title-block__text {
  max-width: 33.0625rem;
}
.about__title-block .title-block__text:not(:last-child) {
  margin-bottom: 2.3125rem;
}
@media (max-width: 47.99875em) {
  .about__title-block .button {
    width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .about__title-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__title-block .title-block__text {
    max-width: 37.5rem;
  }
}
.about__image-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(4rem);
      -ms-transform: translateX(4rem);
          transform: translateX(4rem);
  width: 34.4375rem;
  height: 33.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about__image-wrapper::before {
  content: "";
  position: absolute;
  top: 12%;
  right: 32%;
  width: 44.5820433437%;
  aspect-ratio: 1/1;
  background: url("../images/svg-icons/decor.svg") center/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .about__image-wrapper {
    width: 100%;
    height: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.about__image {
  width: 115.0635208711%;
  aspect-ratio: 634/469;
  position: relative;
}
@media (max-width: 47.99875em) {
  .about__image {
    width: 125.7978723404%;
    aspect-ratio: 473/350;
  }
}

.our-rooms {
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
  -webkit-padding-after: 4.125rem;
          padding-block-end: 4.125rem;
}
.our-rooms__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem 1.25rem;
}
@media (max-width: 61.99875em) {
  .our-rooms__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.our-rooms__image-wrapper {
  width: 36rem;
  height: 35.6875rem;
  overflow: hidden;
  border-radius: 2.5rem;
  background-color: #d9d9d9;
}
.our-rooms__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 576/571;
}
.our-rooms__body {
  -ms-flex-preferred-size: 40.1875rem;
      flex-basis: 40.1875rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.our-rooms__title-block:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .our-rooms__title-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .our-rooms__title-block .title-block__text {
    max-width: 37.5rem;
  }
}
.our-rooms__details {
  padding-block: 1.625rem;
}
.our-rooms__details:not(:last-child) {
  border-bottom: 0.125rem solid rgba(128, 128, 128, 0.13);
}
@media (max-width: 61.99875em) {
  .our-rooms__details {
    -webkit-padding-before: 2rem;
            padding-block-start: 2rem;
    -webkit-padding-after: 2.25rem;
            padding-block-end: 2.25rem;
  }
}
.our-rooms__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.our-rooms__summary::-webkit-details-marker {
  display: none;
}
.our-rooms__summary::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: url("../images/svg-icons/arrow.svg") center/70% no-repeat, #c75e90;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.our-rooms__details[open] .our-rooms__summary::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (max-width: 61.99875em) {
  .our-rooms__summary {
    -webkit-column-gap: 1.375rem;
       -moz-column-gap: 1.375rem;
            column-gap: 1.375rem;
  }
}
@media (max-width: 26.75em) {
  .our-rooms__summary {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
  .our-rooms__summary::before {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.our-rooms__details-body {
  -webkit-padding-start: 5rem;
          padding-inline-start: 5rem;
  -webkit-padding-before: 1.1875rem;
          padding-block-start: 1.1875rem;
}
@media (max-width: 61.99875em) {
  .our-rooms__details-body {
    -webkit-padding-start: 4.0625rem;
            padding-inline-start: 4.0625rem;
    -webkit-padding-before: 1rem;
            padding-block-start: 1rem;
  }
}
@media (max-width: 26.75em) {
  .our-rooms__details-body {
    -webkit-padding-start: 2.9375rem;
            padding-inline-start: 2.9375rem;
  }
}

.care__wrapper {
  border-radius: 2.5rem;
  background-color: light-dark(#ffffff, #161616);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
  gap: 1.3125rem;
  overflow: hidden;
}
.care__title-block {
  border-radius: 2.5rem;
  background-color: #c75e90;
  -webkit-box-shadow: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-padding-before: 5.5rem;
          padding-block-start: 5.5rem;
  -webkit-padding-after: 3.6875rem;
          padding-block-end: 3.6875rem;
  padding-inline: 2.3125rem;
  row-gap: 1rem;
  color: #ffffff;
}
.care__title-block .title-block__subtitle {
  color: #181818;
}
.care__title-block .title-block__subtitle:not(:last-child) {
  margin-bottom: 0.1875rem;
}
.care__title-block .title-block__text:not(:last-child) {
  margin-bottom: 1.0625rem;
}
.care__title-block .button {
  width: 100%;
}
@media (any-hover: hover) {
  .care__title-block .button:hover {
    background-color: #232323;
  }
}
.care__service {
  min-height: 29.75rem;
  position: relative;
}
.care__service:nth-child(n+3)::before, .care__service:nth-child(n+3)::after {
  content: "";
  position: absolute;
  background-color: rgba(128, 128, 128, 0.13);
}
.care__service:nth-child(n+3):before {
  top: 50%;
  left: calc(1.3125rem / -2);
  min-height: 76.0504201681%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.0625rem;
}
.care__service:nth-child(n+3)::after {
  left: 50%;
  top: calc(1.3125rem / -2);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.0625rem;
  width: 90%;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  -webkit-padding-before: 3.125rem;
          padding-block-start: 3.125rem;
  -webkit-padding-after: 3.3125rem;
          padding-block-end: 3.3125rem;
  padding-inline: 1.75rem;
}
@media (max-width: 46.74875em) {
  .service-card {
    -webkit-padding-before: 1.9375rem;
            padding-block-start: 1.9375rem;
    -webkit-padding-after: 1.75rem;
            padding-block-end: 1.75rem;
    padding-inline: 1.75rem;
  }
}
.service-card__image-link {
  display: block;
  min-width: 14.8125rem;
  min-height: 9rem;
  border-radius: 1.25rem;
  background-color: #d9d9d9;
  overflow: hidden;
}
.service-card__image-link:not(:last-child) {
  margin-bottom: 1rem;
}
@media (any-hover: hover) {
  .service-card__image-link:hover .service-card__image {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.service-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 237/144;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.service-card__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.service-card__title-link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .service-card__title-link:hover {
    color: #8e345f;
  }
}
.service-card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  border-start-start-radius: 10rem;
  border-start-end-radius: 10rem;
  background-color: #161616;
  color: #ffffff;
}
@media (max-width: 61.99875em) {
  .footer {
    border-start-start-radius: 6.25rem;
    border-start-end-radius: 6.25rem;
  }
}
.footer__top .subscription__header, .footer__top .footer__contacts {
  -ms-flex-preferred-size: 22.125rem;
      flex-basis: 22.125rem;
}
.footer__top .subscription-form {
  -ms-flex-preferred-size: 44.9375rem;
      flex-basis: 44.9375rem;
}
@media (max-width: 47.99875em) {
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top .subscription__header {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.footer__bottom {
  border-top: 0.0625rem solid rgba(128, 128, 128, 0.13);
  -webkit-padding-before: 2.6875rem;
          padding-block-start: 2.6875rem;
  -webkit-padding-after: 3.125rem;
          padding-block-end: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15.4607768469%;
     -moz-column-gap: 15.4607768469%;
          column-gap: 15.4607768469%;
  row-gap: 4.4375rem;
}
@media (max-width: 47.99875em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-inline: 0.625rem;
  }
}
.footer__contacts {
  -ms-flex-preferred-size: 22.125rem;
      flex-basis: 22.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__contacts .contacts__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.9375rem;
}
.footer__contacts .contacts__link {
  max-width: 11.5rem;
}
@media (max-width: 61.99875em) {
  .footer__contacts {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.footer__body {
  width: 57.5780654989%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 15.4607768469%;
     -moz-column-gap: 15.4607768469%;
          column-gap: 15.4607768469%;
}
@media (max-width: 47.99875em) {
  .footer__body {
    width: 100%;
  }
}
.footer__body-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 19.71%;
     -moz-column-gap: 19.71%;
          column-gap: 19.71%; /* 149/756 */
  row-gap: 2.625rem;
  -webkit-padding-after: 4.1875rem;
          padding-block-end: 4.1875rem;
}
@media (max-width: 61.99875em) {
  .footer__body-wrapper {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }
}
.footer__plans-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__social {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.footer__copyrights {
  border-top: 0.0625rem solid rgba(128, 128, 128, 0.13);
  -webkit-padding-before: 2.375rem;
          padding-block-start: 2.375rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2275rem;
}

.subscription {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15.4607768469%;
     -moz-column-gap: 15.4607768469%;
          column-gap: 15.4607768469%;
  row-gap: 3.625rem;
  -webkit-padding-before: 6.9375rem;
          padding-block-start: 6.9375rem;
  -webkit-padding-after: 4.1875rem;
          padding-block-end: 4.1875rem;
}
@media (max-width: 61.99875em) {
  .subscription {
    -webkit-padding-before: 5.375rem;
            padding-block-start: 5.375rem;
    -webkit-padding-after: 3.625rem;
            padding-block-end: 3.625rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.subscription__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.4375rem;
     -moz-column-gap: 1.4375rem;
          column-gap: 1.4375rem;
}
@media (max-width: 25em) {
  .subscription__header {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
.subscription__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 6.75rem;
  aspect-ratio: 1/1;
}
@media (max-width: 47.99875em) {
  .subscription__image {
    width: 5.3125rem;
  }
}
@media (max-width: 25em) {
  .subscription__image {
    width: 4.375rem;
  }
}
.subscription__title-block {
  row-gap: 0.3125rem;
}

.subscription-form {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 23.75rem;
}
@media (max-width: 47.99875em) {
  .subscription-form {
    min-width: 100%;
  }
}
.subscription-form__wrapper {
  position: relative;
  width: 100%;
}
.subscription-form__label {
  position: absolute;
  top: 0.875rem;
  left: 2.4375rem;
  color: #696969;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}
.subscription-form__input {
  min-height: 4.8125rem;
  -webkit-padding-start: 2.4375rem;
          padding-inline-start: 2.4375rem;
  -webkit-padding-before: 2.4375rem;
          padding-block-start: 2.4375rem;
  -webkit-padding-end: 6rem;
          padding-inline-end: 6rem;
  padding-bottom: 0.875rem;
  font-size: 1rem;
  vertical-align: bottom;
  border-radius: 2.5rem;
  border: 0.0625rem solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subscription-form__input:-webkit-autofill, .subscription-form__input:-webkit-autofill:hover, .subscription-form__input:-webkit-autofill:focus, .subscription-form__input:-webkit-autofill:active {
  border: 0.0625rem solid inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #161616 inset;
}
.subscription-form__button {
  position: absolute;
  top: 0.75rem;
  right: 1.3125rem;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background-color: #c75e90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.subscription-form__button img {
  width: 2.25rem;
}
@media (any-hover: hover) {
  .subscription-form__button:hover {
    background-color: #8e345f;
  }
}

.menu-plans {
  -ms-flex-preferred-size: 11.5rem;
      flex-basis: 11.5rem;
}
.menu-plans__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}
.menu-plans__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu-plans__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu-plans__link {
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu-plans__link:hover {
    color: #c75e90;
  }
}

.social__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}
.social__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem 1.6875rem;
}
.social__link {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: #c75e90;
  color: #161616;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
@media (any-hover: hover) {
  .social__link:hover {
    background-color: #8e345f;
    color: inherit;
  }
}