@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");

$icon-twitter: unquote('"\\e901"');
$icon-crown-elegant: unquote('"\\e903"');
$icon-crown-royal: unquote('"\\e904"');
$icon-crown-triangles: unquote('"\\e905"');
$icon-house: unquote('"\\e906"');
$icon-quote: unquote('"\\e90c"');
$icon-facebook: unquote('"\\e900"');
$icon-instagram: unquote('"\\ea92"');
$icon-youtube: unquote('"\\ea9d"');
$icon-linkedin2: unquote('"\\eaca"');
@font-face {
    font-family: "icomoon";
    src:
        url("../fonts/icomoon.ttf") format("truetype"),
        url("../fonts/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
._icon-crown-elegant {
    &:before {
        content: $icon-crown-elegant;
    }
}
._icon-crown-royal {
    &:before {
        content: $icon-crown-royal;
    }
}
._icon-crown-triangles {
    &:before {
        content: $icon-crown-triangles;
    }
}
._icon-house {
    &:before {
        content: $icon-house;
    }
}
._icon-quote {
    &:before {
        content: $icon-quote;
    }
}
._icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
._icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
._icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
._icon-linkedin {
    &:before {
        content: $icon-linkedin2;
    }
}
