.footer {
    border-start-start-radius: toRem(160);
    border-start-end-radius: toRem(160);
    background-color: $darkBackground;
    color: $darkText;
    @media (max-width: toEm(991.98)) {
        border-start-start-radius: toRem(100);
        border-start-end-radius: toRem(100);
    }

    // .footer__top

    &__top {
        & .subscription__header,
        & .footer__contacts {
            flex-basis: toRem(354);
        }
        & .subscription-form {
            flex-basis: toRem(719);
        }
        @media (max-width: toEm(767.98)) {
            justify-content: center;
            & .subscription__header {
                flex-basis: auto;
            }
        }
    }

    // .footer__bottom

    &__bottom {
        border-top: toRem(1) solid rgba(128, 128, 128, 0.13);
        padding-block-start: toRem(43);
        padding-block-end: toRem(50);
        display: flex;
        justify-content: space-between;
        column-gap: toPercent(203, $containerWidth);
        row-gap: toRem(71);
        @media (max-width: toEm(767.98)) {
            flex-direction: column;
            padding-inline: toRem(10);
        }
    }

    // .footer__contacts

    &__contacts {
        flex-basis: toRem(354);
        flex-shrink: 0;
        // .contacts__list
        & .contacts__list {
            flex-direction: column;
            row-gap: toRem(31);
        }
        // .contacts__link

        & .contacts__link {
            max-width: toRem(184);
        }
        @media (max-width: toEm(991.98)) {
            flex-basis: auto;
        }
    }

    // .footer__body

    &__body {
        width: toPercent(756, $containerWidth);
        display: flex;
        flex-direction: column;
        column-gap: toPercent(203, $containerWidth);
        @media (max-width: toEm(767.98)) {
            width: 100%;
        }
    }

    // .footer__body-wrapper

    &__body-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        column-gap: 19.71%; /* 149/756 */
        row-gap: toRem(42);
        padding-block-end: toRem(67);
        @media (max-width: toEm(991.98)) {
            column-gap: toRem(100);
        }
    }

    // .footer__plans-menu

    &__plans-menu {
        flex-shrink: 0;
    }

    // .footer__social

    &__social {
        flex-shrink: 1;
    }

    // .footer__copyrights

    &__copyrights {
        border-top: toRem(1) solid rgba(128, 128, 128, 0.13);
        padding-block-start: toRem(38);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: toRem(3.64);
    }
}
.subscription {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: toPercent(203, $containerWidth);
    row-gap: toRem(58);
    padding-block-start: toRem(111);
    padding-block-end: toRem(67);

    @media (max-width: toEm(991.98)) {
        padding-block-start: toRem(86);
        padding-block-end: toRem(58);
        flex-wrap: wrap;
    }
    // .subscription__header

    &__header {
        display: flex;
        align-items: center;
        column-gap: toRem(23);
        @media (max-width: toEm(400)) {
            column-gap: toRem(10);
        }
    }

    // .subscription__image

    &__image {
        align-self: flex-start;
        width: toRem(108);
        aspect-ratio: 1 / 1;
        @media (max-width: toEm(767.98)) {
            width: toRem(85);
        }
        @media (max-width: toEm(400)) {
            width: toRem(70);
        }
    }

    // .subscription__title-block

    &__title-block {
        row-gap: toRem(5);
    }
}

.subscription-form {
    flex-shrink: 1;
    min-width: toRem(380);
    @media (max-width: toEm(767.98)) {
        min-width: 100%;
    }
    // .subscription-form__wrapper

    &__wrapper {
        position: relative;
        width: 100%;
    }

    // .subscription-form__label

    &__label {
        position: absolute;
        top: toRem(14);
        left: toRem(39);
        color: $subtitleColor;
        font-size: toRem(10);
        font-weight: 700;
        letter-spacing: toRem(3.6);
        text-transform: uppercase;
    }
    //subscription-form__input
    &__input {
        min-height: toRem(77);
        padding-inline-start: toRem(39);
        padding-block-start: toRem(39);
        padding-inline-end: toRem(96);
        padding-bottom: toRem(14);
        font-size: toRem(16);
        vertical-align: bottom;
        border-radius: toRem(40);
        border: toRem(1) solid $darkText;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            border: toRem(1) solid inherit;
            -webkit-text-fill-color: inherit;
            -webkit-box-shadow: 0 0 0px 1000px $darkBackground inset;
        }
    }
    // .subscription-form__button

    &__button {
        position: absolute;
        top: toRem(12);
        right: toRem(21);
        width: toRem(54);
        height: toRem(54);
        border-radius: 50%;
        background-color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.4s;
        & img {
            width: toRem(36);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}

.menu-plans {
    flex-basis: toRem(184);
    // .menu-plans__title

    &__title {
        font-size: toRem(20);
        font-weight: 700;
        text-transform: capitalize;
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }

    // .menu-plans__item

    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }

    // .menu-plans__link

    &__link {
        text-transform: capitalize;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }
}
.social {
    // .social__title

    &__title {
        font-size: toRem(20);
        font-weight: 700;
        text-transform: capitalize;
        &:not(:last-child) {
            margin-bottom: toRem(27);
        }
    }

    // .social__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(15) toRem(27);
    }

    // .social__link

    &__link {
        width: toRem(44);
        height: toRem(44);
        border-radius: 50%;
        background-color: $mainColor;
        color: $darkBackground;
        font-size: toRem(24);
        display: flex;
        align-items: center;
        justify-content: center;
        transition:
            background-color 0.4s,
            color 0.4s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $primaryColor;
                color: inherit;
            }
        }
    }
}
