//Hero section----------------------------
.hero {
    border-end-start-radius: toRem(60);
    border-end-end-radius: toRem(60);
    padding-block-start: toRem(50);
    background: light-dark(rgba(246, 221, 233, 0.5), $darkBackground);

    // .hero__container

    &__container {
        padding-block-start: toRem(50);
        padding-block-end: toRem(110);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(30);
        @media (max-width: toEm(991.98)) {
            flex-wrap: wrap;
            justify-content: center;
            padding-block-end: toRem(20);
        }
    }

    // .hero__body

    &__body {
        max-width: toRem(529);
        padding-block-start: toRem(14);
        @media (max-width: toEm(991.98)) {
            max-width: 100%;
        }
    }

    // .hero__title-block

    &__title-block {
        &:not(:last-child) {
            margin-bottom: toRem(80);
        }

        & .title-block__text {
            &:not(:last-child) {
                margin-bottom: toRem(12);
            }
        }
        & .button {
            padding-inline: toRem(42);
            @media (max-width: toEm(767.98)) {
                width: 100%;
            }
        }
        @media (max-width: toEm(991.98)) {
            align-items: center;
            text-align: center;
            & .title-block__text {
                max-width: toRem(600);
            }
        }
        @media (min-width: toEm(767.98)) {
            & .title-block__subtitle {
                font-size: toRem(14);
                letter-spacing: toRem(5.04);
            }
            & .title-block__title {
                font-size: toRem(46);
            }
        }
    }

    // .hero__video-wrapper

    &__video-wrapper {
        width: toRem(337);
        height: toRem(112);
        border-radius: toRem(20);
        background:
            linear-gradient(0deg, rgba(41, 41, 41, 0.41) 0%, rgba(41, 41, 41, 0.41) 100%),
            url("../images/hero/video-preview.jpg") center/cover no-repeat,
            #d9d9d9;
        padding-inline: toRem(20);
        padding-block: toRem(23);
        @media (max-width: toEm(991.98)) {
            margin: 0 auto;
            width: 80%;
        }
        @media (max-width: toEm(479.98)) {
            width: 100%;
        }
    }

    // .hero__video

    // &__video {
    // }

    // .hero__image-block
    &__image-block {
        align-self: flex-start;
        width: toRem(671);
        min-width: toRem(500);
        height: toRem(717);
        padding-block-start: toRem(65);
        padding-block-end: toRem(95);
        padding-inline-start: toRem(77);
        padding-inline-end: toRem(29);

        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: toRem(288);
            height: toRem(288);
            background: url("../images/svg-icons/decor.svg") center/contain no-repeat;
            @media (max-width: toEm(767.98)) {
                width: toRem(189);
                height: toRem(189);
            }
        }
        &::before {
            left: 0;
            top: 0;
            transform: rotate(-94.589deg);
        }
        &::after {
            right: 0;
            bottom: 0;
        }
        @media (min-width: toEm(991.98)) {
            transform: translateX(toRem(29));
        }

        @media (max-width: toEm(767.98)) {
            width: toRem(430);
            min-width: toRem(320);
            height: auto;
            aspect-ratio: 430 / 470;
            padding-block-start: toRem(43);
            padding-block-end: toRem(61);
            padding-inline-start: toRem(35);
            padding-inline-end: toRem(20);
        }
    }

    //hero__image-wrapper
    &__image-wrapper {
        flex-shrink: 1;
        position: relative;
        // width: toRem(566);
        // height: toRem(557);
        width: toPecent(566, 671);
        height: 100%;

        @media (max-width: toEm(767.98)) {
            width: toPecent(371, 430);
            height: toRem(365);
        }
    }

    // .hero__image

    &__image {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 566 / 557;
        border-radius: toRem(100) toRem(100) toRem(60) toRem(100);
        @media (max-width: toEm(767.98)) {
            aspect-ratio: 371 / 365;
            border-radius: toRem(100) toRem(60) toRem(60) toRem(260);
        }
    }

    // .hero__border-image

    &__border-image {
        position: absolute;
        z-index: 3;
        width: toRem(119);
        height: toRem(119);
        border-radius: 50%;
        border: toRem(6) solid $mainColor;
        &:nth-child(2) {
            left: 0;
            top: toRem(100);
            left: toRem(-60);
        }
        &:nth-child(3) {
            top: toRem(308);
            left: toRem(-60);
        }
        &:nth-child(4) {
            left: toRem(28);
            bottom: toRem(-60);
        }
        &:nth-child(5) {
            left: toRem(256);
            bottom: toRem(-60);
        }
        @media (max-width: toEm(767.98)) {
            width: toRem(66);
            height: toRem(66);
            border-width: toRem(3);
            &:nth-child(2) {
                top: toRem(50);
                left: toRem(-15);
            }
            &:nth-child(3) {
                top: toRem(170);
                left: toRem(-13);
            }
            &:nth-child(4) {
                left: toRem(50);
                bottom: toRem(22);
            }
            &:nth-child(5) {
                left: toRem(171);
                bottom: toRem(-32);
            }
        }
    }
}

.contacts-block {
    @media (min-width: toEm(991.98)) {
        margin-top: toRem(-82);
    }
    // .contacts-block__container

    &__container {
        font-size: toRem(20);
        font-weight: 700;
        color: $darkText;
        min-height: toRem(168);
        padding-block-end: toRem(48);
        @media (max-width: toEm(991.98)) {
            padding-block: toRem(36);
        }
    }
    //contacts-block__body
    &__body {
        display: flex;
        justify-content: space-between;
        row-gap: toRem(46);
        border-radius: toRem(40);
        background-color: light-dark($lightText, $mainColor);
        @media (max-width: toEm(991.98)) {
            flex-wrap: wrap;
            padding-block-start: toRem(30);
        }
        @media (max-width: toEm(428)) {
            row-gap: toRem(30);
        }
    }

    // .contacts-block__item

    &__item {
        display: flex;
        align-items: center;
        column-gap: toRem(12);
        padding-inline-start: toRem(35);
        padding-inline-end: toRem(20);
        &--start {
            &:only-child {
                padding-block-start: toRem(43);
                padding-block-end: toRem(47);
            }
        }
        .contacts-block__item-wrapper & {
            flex-shrink: 0;
            flex-grow: 1;
            @media (max-width: toEm(428)) {
                flex-shrink: 1;
            }
        }
        @media (max-width: toEm(991.98)) and (min-width: toEm(428)) {
            column-gap: toRem(32);
        }
        @media (max-width: toEm(428)) {
            padding-inline: toRem(15);
            font-size: toRem(16);
        }
    }

    // .contacts-block__icon-wrapper

    &__icon-wrapper {
        flex-shrink: 0;
        width: toRem(78);
        height: toRem(78);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: light-dark($mainColor, $primaryColor);
        .contacts-block__item-wrapper & {
            background-color: light-dark($lightText, $mainColor);
        }
        @media (max-width: toEm(428)) {
            width: toRem(50);
            height: toRem(50);
            align-self: flex-start;
        }
    }

    // .contacts-block__item-wrapper

    &__item-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: toPercent(822, $containerWidth);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: toRem(28);
        row-gap: toRem(44);
        border-radius: toRem(100) toRem(40) toRem(40) toRem(100);
        background-color: light-dark($mainColor, $primaryColor);
        padding-block-start: toRem(43);
        padding-block-end: toRem(47);
        @media (max-width: toEm(991.98)) {
            border-radius: toRem(70) toRem(70) toRem(40) toRem(40);
        }
    }
}
//About section----------------------------
.about {
    // .about__container

    &__container {
        padding-block: toRem(34);
        border-radius: toRem(40);
        background-color: light-dark($darkText, $darkBackground);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(56) toRem(20);
        @media (max-width: toEm(991.98)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // .about__content

    &__content {
        padding-inline-start: toRem(58);
        // min-width: toRem(400);
        @media (max-width: toEm(991.98)) {
            padding-inline: 0;
        }
    }

    // .about__title-block

    &__title-block {
        row-gap: toRem(17);

        // .title-block__title

        & .title-block__title {
            &:not(:last-child) {
                margin-bottom: toRem(14);
            }
        }

        // .title-block__text

        & .title-block__text {
            max-width: toRem(529);
            &:not(:last-child) {
                margin-bottom: toRem(37);
            }
        }
        & .button {
            @media (max-width: toEm(767.98)) {
                width: 100%;
            }
        }
        @media (max-width: toEm(991.98)) {
            align-items: center;
            text-align: center;
            & .title-block__text {
                max-width: toRem(600);
            }
        }
    }

    // .about__image-wrapper

    &__image-wrapper {
        align-self: flex-start;
        flex-shrink: 0;
        transform: translateX(toRem(64));
        width: toRem(551);
        height: toRem(537);
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 12%;
            right: 32%;
            width: toPercent(288, 646);
            aspect-ratio: 1 / 1;
            background: url("../images/svg-icons/decor.svg") center/contain no-repeat;
        }
        @media (max-width: toEm(767.98)) {
            width: 100%;
            height: auto;
            transform: translateX(0);
        }
    }

    // .about__image

    &__image {
        width: toPercent(634, 551);
        aspect-ratio: 634 / 469;
        position: relative;
        @media (max-width: toEm(767.98)) {
            width: toPercent(473, 376);
            aspect-ratio: 473 / 350;
        }
    }
}
//Our rooms section----------------------------
.our-rooms {
    padding-block-start: toRem(80);
    padding-block-end: toRem(66);
    // .our-rooms__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: toRem(80) toRem(20);
        @media (max-width: toEm(991.98)) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // .our-rooms__image-wrapper

    &__image-wrapper {
        width: toRem(576);
        aspect-ratio: 576 / 571;
        overflow: hidden;
        border-radius: toRem(40);
        background-color: #d9d9d9;
    }

    // .our-rooms__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 576 / 571;
    }

    // .our-rooms__body

    &__body {
        flex-basis: toRem(643);
        flex-shrink: 1;
    }

    // .our-rooms__title-block

    &__title-block {
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }

        // .title-block__title
        @media (max-width: toEm(991.98)) {
            align-items: center;
            text-align: center;
            margin: 0 auto;
            & .title-block__text {
                max-width: toRem(600);
            }
        }
    }

    // .our-rooms__details

    &__details {
        padding-block: toRem(26);
        &:not(:last-child) {
            border-bottom: toRem(2) solid rgba(128, 128, 128, 0.13);
        }
        @media (max-width: toEm(991.98)) {
            padding-block-start: toRem(32);
            padding-block-end: toRem(36);
        }
    }

    // .our-rooms__summary

    &__summary {
        display: flex;
        align-items: center;
        column-gap: toRem(36);
        font-size: toRem(20);
        font-weight: 700;
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            content: "";
            align-self: flex-start;
            flex-shrink: 0;
            width: toRem(44);
            height: toRem(44);
            border-radius: 50%;
            background:
                url("../images/svg-icons/arrow.svg") center/70% no-repeat,
                $mainColor;
            transition: transform 0.4s;
        }
        .our-rooms__details[open] &::before {
            transform: rotate(-180deg);
        }
        @media (max-width: toEm(991.98)) {
            column-gap: toRem(22);
        }
        @media (max-width: toEm(428)) {
            column-gap: toRem(15);
            &::before {
                width: toRem(30);
                height: toRem(30);
            }
        }
    }

    // .our-rooms__details-body

    &__details-body {
        padding-inline-start: toRem(80);
        padding-block-start: toRem(19);
        @media (max-width: toEm(991.98)) {
            padding-inline-start: toRem(65);
            padding-block-start: toRem(16);
        }
        @media (max-width: toEm(428)) {
            padding-inline-start: toRem(47);
        }
    }
}
//Care section----------------------------
.care {
    $gap: 21;
    //care__wrapper
    &__wrapper {
        border-radius: toRem(40);
        background-color: light-dark($darkText, $darkBackground);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(312), 1fr));
        gap: toRem($gap);
        overflow: hidden;
        @media (max-width: toEm(428)) {
            grid-template-columns: minmax(auto, 1fr);
        }
    }

    // .care__title-block

    &__title-block {
        border-radius: toRem(40);
        background-color: $mainColor;
        box-shadow: toRem(0) toRem(4) toRem(16) toRem(0) rgba(0, 0, 0, 0.25);
        padding-block-start: toRem(88);
        padding-block-end: toRem(59);
        padding-inline: toRem(37);
        row-gap: toRem(16);
        color: $darkText;
        // .title-block__subtitle

        & .title-block__subtitle {
            color: #181818;
            &:not(:last-child) {
                margin-bottom: toRem(3);
            }
        }
        // .title-block__text

        & .title-block__text {
            &:not(:last-child) {
                margin-bottom: toRem(17);
            }
        }
        & .button {
            width: 100%;
        }
    }

    // .care__service

    &__service {
        min-height: toRem(476);
        position: relative;
        &:nth-child(n + 3)::before,
        &:nth-child(n + 3)::after {
            content: "";
            position: absolute;
            background-color: rgba(128, 128, 128, 0.13);
        }

        &:nth-child(n + 3):before {
            top: 50%;
            left: calc(toRem($gap) / -2);
            min-height: toPercent(362, 476);
            transform: translateY(-50%);
            width: toRem(1);
        }
        &:nth-child(n + 3)::after {
            left: 50%;
            top: calc(toRem($gap) / -2);
            transform: translateX(-50%);
            height: toRem(1);
            width: 90%;
        }
    }
}
//Gallery section----------------------------
.gallery {
    // .gallery__container

    &__container {
        padding-block-start: toRem(65);
    }

    // .gallery__swiper

    &__swiper {
        position: relative;
        &.swiper {
            position: static;
        }
        & .swiper-wrapper {
            padding-block-end: toRem(35);
        }
        & .swiper-slide {
            width: toRem(202);
            height: toRem(233);
            @media (max-width: toEm(991.98)) {
                width: toRem(376);
                height: toRem(434);
            }
            @media (max-width: toEm(479.98)) {
                width: 100%;
                height: auto;
            }
        }
        @extend %swiper-buttons;
    }
}
//Pricing section----------------------------
.pricing {
    // .pricing__container

    &__container {
        padding-block-start: toRem(70);
        padding-block-end: toRem(56);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(75);
    }

    // .pricing__title-block

    &__title-block {
        max-width: toRem(646);
        row-gap: toRem(18);

        // .title-block__subtitle

        & .title-block__subtitle {
            &:not(:last-child) {
                margin-bottom: toRem(3);
            }
        }

        // .title-block__title

        & .title-block__title {
            font-size: toRem(40);
        }

        // .title-block__text

        & .title-block__text {
        }
    }

    // .pricing__rates

    &__rates {
        width: 100%;
        display: grid;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        & > * {
            min-width: 33%;
            max-width: toRem(444);

            @media (max-width: toEm(991.98)) {
                min-width: calc(50% - toRem(16));
            }
            @media (max-width: toEm(814)) {
                flex-grow: 1;
            }
        }

        & .rate-card--primary {
            transform: scale(1.1);
            @media (max-width: toEm(991.98)) {
                transform: scale(1);
            }
        }

        @media (max-width: toEm(991.98)) {
            flex-wrap: wrap;
            gap: toRem(32);
        }
    }
}
//Reviews section----------------------------
.reviews {
    // .reviews__container

    &__container {
        padding-block-start: toRem(56);
        padding-block-end: toRem(78);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(83);
    }

    // .reviews__title-block

    &__title-block {
        row-gap: toRem(18);
        max-width: toRem(868);
        // .title-block__subtitle

        & .title-block__subtitle {
            &:not(:last-child) {
                margin-bottom: toRem(5);
            }
        }

        // .title-block__title

        & .title-block__title {
        }

        // .title-block__text

        & .title-block__text {
        }
    }

    // .reviews__swiper

    &__swiper {
        width: 100%;
        position: relative;
        &.swiper {
            position: static;
        }
        & .swiper-slide {
            width: toRem(424);
            // min-height: toRem(453);
            & .review-card {
                height: 100%;
            }
            @media (max-width: toEm(991.98)) {
                width: toRem(376);
            }
            @media (max-width: toEm(479.98)) {
                width: 100%;
                height: auto;
            }
        }
        @extend %swiper-buttons;
    }
}
