//Percent
@function toPercent($px, $from: 100) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}
//VW
@function toVW($px, $from: 100) {
    $result: math.div($px, $from) * 100vw;
    @return $result;
}
//REM
@function toRem($px, $current: 16) {
    $result: math.div($px, $current) + rem;
    @return $result;
}
//EM
@function toEm($px, $current: 16) {
    $result: math.div($px, $current) + em;
    @return $result;
}

%swiper-buttons {
    & .swiper-button-prev,
    & .swiper-button-next {
        display: none;
        width: toRem(49);
        height: toRem(49);
        border-radius: 50%;
        background-color: $mainColor;
        color: transparent;
        font-size: 0;
        &::after {
            width: 50%;
            background-color: $darkText;
            mask: url("../images/svg-icons/arrow-side.svg") center/contain no-repeat;
        }
        @media (max-width: toEm(991.98)) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: toEm(400)) {
            width: toRem(35);
            height: toRem(35);
        }
    }
    & .swiper-button-prev {
        left: 0;
        transform: translate(-50%, -50%);
        &::after {
            transform: rotate(180deg);
        }
    }
    & .swiper-button-next {
        right: 0;
        transform: translate(50%, -50%);
    }
    & .swiper-button-prev,
    & .swiper-button-next {
        @media (max-width: toEm(427.98)) {
            transform: translate(0, -50%);
        }
    }
}
