$maxWidth: 1440;
$containerWidth: 1313;
$paddingContainer: 26;
$maxWidthContainer: $containerWidth + $paddingContainer * 2;

// $laptop: 1199.98px;
// $tablet: 991.98px;
// $mobile: 767.98px;
// $smallMobile: 479.98px;

$darkColor: #1d1d1d;
$darkText: #ffffff;
$darkBackground: #161616;
$lightColor: #fbf6f8;
$lightText: #232323;
$subtitleColor: #696969; //+input
$primaryColor: #8e345f; //hover
$mainColor: #c75e90;
$ligthGradient: linear-gradient(66deg, #fffefe 2.93%, rgb(246, 221, 233) 100%);
$amount-of-gallery-slides:0;