@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";

html {
    scroll-behavior: smooth;
    color-scheme: light dark;
    --scrooll-margin-top: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: toRem(14);
    line-height: 1.5;
    background-color: light-dark($lightColor, $darkColor);
    color: light-dark($lightText, $darkText);
    &:has(.menu-burger.active) {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($maxWidthContainer);
    padding-inline: toRem($paddingContainer);
    margin: 0 auto;
}

@import "common";
@import "header";
@import "main";
@import "footer";
